 body {
     background-color: black;
 }


.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .5s linear;
    background: yellow;
    position: absolute;
    box-shadow: 0px 0px 60px yellow;
}

